
<h1> Welcome To the Sign up Page</h1>

<form action="/users/create" method="post">

    <input type = "text" name="name" required placeholder="Your Name" >
    <input type = "email" required name="email" placeholder="Your Email" >
    <input type = "password" required name="password" placeholder="Password" >
    <input type = "password" required name="confirm_password" placeholder="Confirm Password " >
    <input type ="submit" value="Sign Up">
    <!-- <button type="submit">Sign up </button> -->
</form>

